*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   font-family: urbanist, system_ui, Avenir,Arial, Helvetica, sans-serif ;
   color-scheme: light dark;
}

:root{
  --bg--color: #f4f3ff;
  --btn--color: #646cff;
  --dark--color: #242424;
  --helper--color: #99b9ff;
}

body{
  margin: 0;
  min-width: 32rem;
  min-height: 100vh;
}

h1{
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
p,
li,
label,
input,
textarea{
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

a{
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn--color);
  text-decoration: inherit;
}

li{
  list-style: none;
}
html{
  font-size: 62.5%;

}

.grid{
  display: grid;
  gap: 6.4rem;

}

.grid-two-cols{
  grid-template-columns: repeat(2 ,1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4,1fr);
}

button{
  text-transform: capitalize;
  padding:1rem 2.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--btn--color);
  border-radius: 0.7rem;
  border: 1px solid transparent;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: border-color 0.3s;
  margin-left: 25px;
  margin-top:60px
}

button:hover{
  box-shadow: inset 0 0 0 0.2rem var(--bg--color);
}

a:hover,
a.active{
  color: #535bf2;
}

.paragraph{
  text-align: justify;
}

.hero-image img{
  margin-left: 60px;
  border-radius: 15px;
}

.secondary-button {
  background-color: transparent;
  box-shadow: inset 0 0 0 0.2rem var(--btn--color);

}

.section-analytics {
  margin: 9.6rem 0;
  background-color: #f4f3ff;
  border-radius: 1.2rem;
  margin-left: 6.2rem;
  margin-right: 6.2rem;
}

.div1 {
  color: var(--dark--color);
  text-align: center;
  font-size: 4.8rem;
  border-right: 0.2rem solid var(--dark--color);

  &:last-child{
      border: none;
  }

  
}

.hero-image1 img {
  border-radius: 15px; 
}

.grid-two-cols1 {
  margin: 4.2rem;
}

.registration-image img {
  border-radius: 15px;
}

.contact-image img {
  border-radius: 15px;
}

.main-heading {
  margin-top: -15px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: antiquewhite;
  color: #242424;
  font-size: medium;
}

.form-group button {
  padding: 0.75rem 3rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #0056b3;
}

.contact-form {
  max-width: 500px;
  margin: auto;
}

.contact-image img {
  max-width: 100%;
  height: auto;
  padding-left: 1.2rem;
}


/* Styles for the login form */
form {
  max-width: 500px;
  margin: auto;
}

form div {
  margin-bottom: 1.5rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: antiquewhite;
  color: #242424;
}

form button {
  padding: 0.75rem 3rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}

.paragraph2{
  font-size: medium;
  margin-left: 5rem;
  text-align: justify;
  margin-right: 5rem;
}

.heading2{
  font-size: 30px;
  margin: 1rem 2rem;
}

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}